.username-input-container {
  height: 39px;
  width: 240px;
}

#username-input {
  font-size: 16px;
}

#submit-button {
  height: 39px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 0 15px;
  margin-left: 10px;
}

#login-page{
  background-image: url('https://img.freepik.com/premium-photo/funny-nerd-young-businessman-man-working-computer-typing-keyboard-programmer-glasses-front-computer_150455-1700.jpg?w=2000');
  background-size: cover;
  background-position: 50% 50%;
}

.title{
  font-size: 50px;
  position: absolute;
  top: 40px;
  left: 40px;
  font-style: italic;
}
